force-app/main/default/flows/Add_Case_Comment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Assign the case comment fields before creating the record.</description>
        <name>Assign_Comment_Fields</name>
        <label>Assign Comment Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newComment.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newComment.CommentBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>commentBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newComment.IsPublished</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isPublicBoolean</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Comment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign error status and fault message when the flow encounters an issue.</description>
        <name>Assign_Error_Output</name>
        <label>Assign Error Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign success status and confirmation message after the comment is created.</description>
        <name>Assign_Success_Output</name>
        <label>Assign Success Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>successMessageFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>returnedCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Add a comment to an existing case. The comment can be public (visible to the customer) or internal (agent-only).</description>
    <environments>Default</environments>
    <formulas>
        <description>Converts the isPublic string input to a boolean for the CaseComment.IsPublished field.</description>
        <name>isPublicBoolean</name>
        <dataType>Boolean</dataType>
        <expression>IF(LOWER({!visibility}) = &apos;public&apos;, true, false)</expression>
    </formulas>
    <formulas>
        <description>Success message including the case number and visibility.</description>
        <name>successMessageFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Comment added to Case #&apos; &amp; {!Get_Case.CaseNumber} &amp; &apos; (&apos; &amp; IF({!isPublicBoolean}, &apos;public&apos;, &apos;internal&apos;) &amp; &apos;).&apos;</expression>
    </formulas>
    <interviewLabel>Add Case Comment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Case Comment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the case comment record in the database.</description>
        <name>Create_Comment_Record</name>
        <label>Create Comment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Success_Output</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Output</targetReference>
        </faultConnector>
        <inputReference>newComment</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Look up the case record by the provided case ID to validate it exists.</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Comment_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Output</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Id of the case to add the comment to.</description>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The body text of the comment to add to the case.</description>
        <name>commentBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates whether the flow executed successfully (true) or encountered an error (false).</description>
        <name>isSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A variable to hold the new CaseComment record before creation.</description>
        <name>newComment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseComment</objectType>
    </variables>
    <variables>
        <description>A message providing details about the flow execution, such as success confirmation or error messages.</description>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The Case record that the comment was added to. Returns null if the flow encounters an error.</description>
        <name>returnedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Whether the comment should be visible to the customer. Use &quot;public&quot; for customer-visible or &quot;internal&quot; for agent-only.</description>
        <name>visibility</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
